<!-- Page background CSS styling -->
<div class="page-background">
  <!-- To center the card element and for applying CSS styling -->
  <div class="center-element">
    <!-- Card -->
    <div class="card card-page">
      <div class="image">
        <img
          class="card-image card-img-top"
          src="./assets/iced-coffee.jpg"
          alt="Iced Coffee Image"
        />
        <div class="card-img-overlay">
          <div class="prev-page-btn btn">
            <i class="bi bi-arrow-left"></i>
          </div>
          <div class="prev-page-btn btn">
            <i class="bi bi-bell-fill"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title item-title">Ice coffee</h3>
        <div class="flex-align">
          <i class="bi bi-star-fill fill"></i>
          <i class="bi bi-star-fill fill"></i>
          <i class="bi bi-star-fill fill"></i>
          <i class="bi bi-star-fill fill"></i>
          <i class="bi bi-star"></i>
        </div>
        <div class="card-text item-desc">
          Turpis egestas lorem tincidunt lacinia purus felis. Nunc volutpat
          pretium senectus malesuada malesuada iaculis. Ac elit amet, vivamus
          lectus non hendrerit quis enim.
        </div>
        <div class="details">
          <div class="item-size">
            <div class="card-subtitle margin-title">Cup size</div>
            <div class="card-btn">
              <button type="button" class="size-btn">S</button>
              <button type="button" class="size-btn bg-color">M</button>
              <button type="button" class="size-btn">L</button>
            </div>
          </div>

          <div class="item-amount">
            <div class="card-subtitle margin-title">Amount</div>
            <div class="card-btn">
              <button type="button" class="size-btn bg-color">-</button>
              <button type="button" class="number-style">2</button>
              <button type="button" class="size-btn bg-color">+</button>
            </div>
          </div>
        </div>
        <div class="details align-details">
          <div class="price">
            <div class="card-subtitle size-price">Total price</div>
            <div class="item-price size-amount">$16</div>
          </div>
          <button class="order-btn btn bg-color">Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
