.card-img-overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
}

.card-body {
    overflow: scroll;
    margin-top: 0.75rem;
    top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: fefeff;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox ,chrome and safari*/
    scrollbar-width: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
}

.card-page {
    overflow: hidden;
}

.card-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    --bs-card-inner-border-radius: 0;
}

.padding {
    font-size: 1.3rem;
    padding: 0.2rem 0rem;
    color: white;
}

.event-live {
    align-items: center;
    padding: 13px;
    display: flex;
    z-index: 10;
    height: 3.5rem;
    width: 15.5rem;
    background-color: #fefeff;
    position: absolute;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 86%;
    left: 11%;
}

.item-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.center-element {
    height: 90vh;
    width: 20rem;
}

.footer {
    padding: 9px;
    align-content: end;
    text-align: center;
    height: 15vh;
    z-index: 1;
    background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.5) 100%);
}

.prof-img {
    height: 30px;
    width: 30px;
    border-radius: 8px;
}

.live-icon {
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-left: -13px;
}

.live-icon:first-child {
    margin: 0px;
    z-index: 1;
}

.live-icon:nth-child(3) {
    z-index: -1;
}

.icon-style {
    height: 2.5rem;
    align-content: center;
    width: 2.5rem;
    text-align: center;
    margin-right: 12px;
    border-radius: 12px;
}

.icon-style::before {
    font-size: 18px;
}

.icon-color {
    background-color: #ebedff;
    color: #5669ff;
}

.flex-align {
    align-items: center;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 13px;
}

.follow-btn {
    width: 3rem;
    font-size: 12px;
    padding: 4px;
}

.image-profile {
    display: flex;
}

.image {
    height: 28vh;
    position: relative;
}

.text-live {
    color: #5669ff;
    padding: 6px;
}

.event-details {
    margin-top: 12px;
}

.transparent-bg {
    padding: 5px 7px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.3);
}


@media screen and (min-height: 990px) {
    .center-element {
        height: 800px;
        /* Fix height when screen height is greater than 990px */
    }
}