<!-- Page background CSS styling -->
<div class="page-background">
  <!-- To center the card element and for applying CSS styling -->
  <div class="center-element">
    <!-- Card -->
    <div class="card card-page">
      <div class="image">
        <img
          class="card-image card-img-top"
          src="./assets/int-concert.jpg"
          alt="Band Concert"
        />
        <div class="overlay-bg card-img-overlay">
          <div class="card-img-overlay">
            <div class="details">
              <div class="prev-page-btn btn">
                <i class="bi bi-arrow-left"></i>
              </div>
              <div class="padding">Event Details</div>
            </div>

            <div class="prev-page-btn btn transparent-bg">
              <i class="bi bi-bookmark-fill"></i>
            </div>
          </div>
        </div>

        <div class="event-live">
          <div class="image-profile">
            <img
              src="./assets/prof-img.jpg"
              class="live-icon"
              alt="Progile Image"
            /><img
              src="./assets/prof-img.jpg"
              class="live-icon"
              alt="Progile Image"
            /><img
              src="./assets/prof-img.jpg"
              class="live-icon"
              alt="Progile Image"
            />
          </div>
          <div class="text-live">+20 Going</div>
          <button
            type="button"
            class="btn btn-primary follow-btn"
            style="margin: auto; margin-right: 0"
          >
            Invite
          </button>
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title item-title">International Band Music Concert</h3>
        <div class="date flex-align">
          <i class="bi bi-calendar-event icon-style icon-color"></i>
          <div>
            <div>03 February 2025</div>
            <div class="subtitle text-body-secondary">
              Tuesday, 4:00pm - 9:00pm
            </div>
          </div>
        </div>
        <div class="location flex-align">
          <i class="bi bi-geo-alt-fill icon-style icon-color"></i>
          <div>
            <div>Gala Convention Center</div>
            <div class="text-body-secondary subtitle">
              36 Guild Street London, UK
            </div>
          </div>
        </div>
        <div class="organiser flex-align">
          <img
            src="./assets/prof-img.jpg"
            class="prof-img icon-style"
            alt="Progile Image"
          />
          <div>
            <div>Ashfak Sayem</div>
            <div class="subtitle text-body-secondary">Organiser</div>
          </div>
          <div class="" style="margin: auto; margin-right: 0">
            <button type="button" class="btn follow-btn icon-color">
              Follow
            </button>
          </div>
        </div>
        <div class="event-details">
          <h5>About Event</h5>
          <p>
            The tour began on March 2, 2024, in Seoul, South Korea and concluded
            on September 22, 2024, in Seoul, South Korea. The tour consisted of
            concerts in Asia, NorthBehance is the world's largest creative
            network for showcasing and discovering creative concert ticket
            design work.
          </p>
        </div>
      </div>
      <div class="footer">
        <div>
          <button class="btn btn-primary">
            Buy Ticket $120
            <i class="bi bi-arrow-right-circle-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
