<div class="home-align-center">
  <div class="row" style="margin: 0">
    <div class="col">
      <div class="card card-challenge" [routerLink]="['/challenge01']">
        <div class="card-body">
          <h3>Travel UI</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-challenge" [routerLink]="['/challenge02']">
        <div class="card-body">
          <h3>Event Details UI</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-challenge" [routerLink]="['/challenge03']">
        <div class="card-body">
          <h3>Coffee UI</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
</div>
